body {
    margin: 0 auto;
    padding: 15px;

  background-color: #151719;
}
.header{
display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#link {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin-right:2em;
    z-index: 12;

}
.btn{
    background-color: #5D5DFF;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    margin-right: 11em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    z-index: 12;
    border: 0;
}

.logo{
    background-color: #151719;
    width: 32px;
    height: 32px;
    margin-left: 7em;
}

.snape {

    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.text {
    text-align: center;
    margin-right: 8.2em;
    margin-top: 20vh;
    height: 160px;
}
.text h1 {
    color: white;
    font-size: 52px;
    font-family: 'Inter', sans-serif;
    height: 40px;


}
.text p {
    color: #9BA9B4;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30em;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:7.6em;
    margin-bottom: 8em;
}
.btn1{
    background-color: #5D5DFF;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    margin-right: 15px;
}
.btn2{

    background-color: #33363A;
    color: #C5D2DC;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border: 0;

}